{% extends 'base.html' %}
{% block content %}
<body style="background-color: blue;">
<h1>Hello, Pokemon Trainer! Welcome to my PokePage.</h1>
</body>
{% for user in users %}
{% if current_user.is_authenticated %}
<section class="vh-10" style="background-color: blue;">
    <div class="container py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="{{ url_for('static', filename='images/pokemon.jpg') }}"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">{{user.username}}</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">Thieves Programmer</p>
                  <div lass="d-flex pt-1c">
                    <a class="btn btn-primary flex-grow-1" href="{{url_for('pokemon.battles',id=user.id)}}">Attack</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% endfor %}
{% endblock %}
